<div style="display: grid; grid-template-columns: auto">
  <div style="text-align: center">
    <h1>Multi</h1>
  </div>
  <div style="text-align: center">
    <input
      type="file"
      class="form-control"
      id="file"
      (change)="uploadFile($event)"
    />
  </div>

  <!--   Model Selection   -->
  <div style="text-align: center">
    <br/>
    <label style="font-weight: bold;">Model Selection</label><br/>
    <mat-radio-group aria-label="Select Model" [(ngModel)]="generationModel">
      <mat-radio-button value="1" style="margin-right: 10px">Codex</mat-radio-button>
      <mat-radio-button value="2">GPT-3</mat-radio-button>
    </mat-radio-group>
  </div>

  <!--   Language Selection   -->
  <div style="text-align: center">
    <br />
    <label style="font-weight: bold;">Language Mode </label><br />
    <mat-radio-group
      aria-label="Language Overwrite"
      [(ngModel)]="languageOverwrite"
    >
      <mat-radio-button value="false" style="margin-right: 10px">Keep Original</mat-radio-button>
      <mat-radio-button value="true">Overwrite</mat-radio-button>
    </mat-radio-group>
  </div>

  <div style="text-align: center">
    <br />
    <label style="font-weight: bold;">Language Selection </label><br />
    <mat-radio-group
      aria-label="Select Language"
      [(ngModel)]="generationLanguage"
    >
      <mat-radio-button
        style="margin-right:10px;"
        *ngFor="let language of languageEnum | keyvalue"
        value="{{language.key}}"
        [checked]="language.value=='PYTHON'"
        >{{ language.value }}</mat-radio-button
      >
    </mat-radio-group>
  </div>


  <!--   Start and Save   -->

  <div style="text-align: center">
    <button
      [disabled]="generationModel == 0"
      style="margin-top: 10px"
      (click)="generateMultiPrompts()"
    >
      Generate
    </button>
  </div>

  <div style="text-align: center">
    <button style="margin-top: 10px" (click)="saveZip()">SaveZip</button>
  </div>
</div>
